.mouseoverOverlayShowDiv{
    position: absolute; 
    height:5px;
    z-index:100;
}
.mouseoverOverlayShowDivSide{
    position: absolute; 
    width:5px;
    z-index:100;
}
.mouseoverHeaderHideDiv {
    width:100vw;
    position: absolute;
    z-index:80;
    bottom:0;
    top:0;
    opacity: 0.5;
    background-color:dimgrey;
    display:none;
}