.background {background-color: #1ba1e2;}

.content-padding {padding:2.5%;}

.form {margin-right:5px; margin-left:auto; padding-right:3%;}
.form-label {margin-right:0.8%}
.slider {width:50%;}
.slider-label {margin-right:1%;}
