
.background {background-color: #1ba1e2;}


.page-title {
    font-size: 3em;
    color:white;
    border-bottom: 1px solid white;
}

.section-heading.has-failure {
    
}
.section-heading:hover.has-failure {
    
}
.section-heading-active.has-failure {
    
}


.text-input{
    margin-top: 2px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    font-size:1.5em;
    background-color:rgba(0, 0, 0, 0);
    color:white;
}
.text-input.has-success {
    border-color:rgba(0,255,0,1)
}
.text-input.has-failure {
    border-color:rgba(240,128,128,1);
}

.text-input:focus{
    border-color: rgba(255, 255, 255, 1);
    outline: 0;
}

.gender-group {
    padding:2%;
}

.gender-label {
    font-weight:500;
    margin:1%;
    margin-bottom:0;
    font-size:1.5em;
    color:white;
}

.dob-input {
    font-size:1.5em;
    background-color:rgba(0, 0, 0, 0);
    border-color:rgba(0,0,0,0);
    border-bottom-color:rgba(255,255,255,0.6);
    color:white;
}
.dob-input.has-success {
    border-bottom-color:rgba(0,255,0,1)
}
.dob-input.has-failure {
    border-bottom-color:rgba(240,128,128,1)
}
option {
    background-color: #1ba1e2;
    border-color:#1ba1e2;
}

.single-line {
    white-space: nowrap;
}

.misc-text{
    font-size:1.5em;
    color:white;
}

.glyph-padding-textbox {
    padding-top:4%;
}
.glyph-padding-dropdown {
    padding-top:2%;
}

.glyphicon-ok { color:rgba(0,255,0,1);}
.glyphicon-remove { color:rgba(240,128,128,1);}

::-webkit-input-placeholder {
   color:rgba(255, 255, 255, 0.5);
}

:-moz-placeholder { /* Firefox 18- */
   color:rgba(255, 255, 255, 0.5);
}

::-moz-placeholder {  /* Firefox 19+ */
   color:rgba(255, 255, 255, 0.5);
}

:-ms-input-placeholder {  
   color:rgba(255, 255, 255, 0.5);
}




